
img{ 
  max-width:100%; 
  height:auto;
  border:none;}
  
.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  width: 0; }

.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%; }

@font-face{font-family:bentonsanscond-bold;src:url('../fonts/bentonsanscond-bold.html');}

@font-face{font-family:bentonsanscond-medium;src:url('../fonts/bentonsanscond-medium.html');}

@font-face{font-family:united-heavy;src:url('../fonts/united-sans-semi-cond-heavy.html');}

.clear{clear:both;}

a:link,a:visited{ 
  color:#0000ee;
  text-decoration:underline;}

a:active,a:hover{text-decoration:none;}

a.offer:link,a.offer:visited{
  color:#0000ee;
  text-decoration:underline;}
  
a.offer:active,a.offer:hover{text-decoration:none;}

body#standard{ 
  background:#fff;
  font-family:arial,sans-serif;
  font-size:14px;
  line-height:17px;
  margin:0;
  padding:0 0 13px 0;}
  
div.about-author{ 
  border-bottom:1px solid #dcdcdc;
  border-top:1px solid #dcdcdc;
  color:#717171;
  font-size:16px;
  line-height:23px;
  margin:8px 0 0 0;
  padding:7px 0 8px 0;}
  
div.about-image{ 
  font-family:bentonsanscond-bold;
  font-size:21px;
  line-height:22px;
  padding:13px 0 25px 0;
  text-transform:uppercase;}
  
div.about-image span{color:#177ebf;}

div.author{
  font-family:bentonsanscond-bold;
  margin:23px 0 0 0;}
  
div.availability{
  color:#586e7a;
  font-weight:bold;
  padding:5px 0 0 0;
  text-align:center;}
  
div.availability span{color:#ff3300;}

div#body{ 
  margin:31px auto 0 auto; 
  max-width:997px;
  padding:0 20px;}

div#breadcrumb{ 
  color:#898989;
  border-bottom:1px solid #dcdcdc;
  border-top:1px solid #dcdcdc;
  font-size:11px;}
  
div#breadcrumb a:link,div#breadcrumb a:visited{
  color:#898989;
  line-height:52px;
  text-decoration:none;}
  
div#breadcrumb a:active,div#breadcrumb a:hover{text-decoration:underline;}

div#breadcrumb span{padding:0 5px;}

div.column-1{ 
  color:#2d2d2d;
  float:left;
  font-family:georgia,arial,sans-serif;
  font-size:16px;
  line-height:24px;
  width:55%;}
  
div.column-2{
  color:#383838;
  float:right;
  line-height:22px;
  width:38%;}
  
div.column-2 span{font-family:bentonsanscond-bold;}

div.column-3{ 
  color:#383838;
  float:left;
  padding:25px 0 0 0;
  width:40%;}
  
div.column-3 span{
  color:#000;
  font-family:bentonsanscond-bold;
  font-weight:bold;}
  
div.column-4{ 
  color:#2d2d2d;
  float:right;
  font-family:georgia,arial,sans-serif;
  font-size:16px;
  line-height:24px;
  padding:25px 0 5px 0;
  width:57%;}
  
div#comments{ 
  border-top:3px solid #666;
  margin:14px 0 0 0;
  padding:35px 0 0 0;}
  
div#comments div.comment{ 
  color:#454a4e;
  font-size:15px;
  line-height:18px;
  margin:5px 0 0 0;}
  
div#comments div.comment-info{
  float:left;
  margin:17px 0 0 15px;
  width:80%;}
  
div#comments div.comment-count{
  color:#3f4549;
  float:left;
  font-size:16px;
  font-weight:bold;}
  
div#comments div.divider{
  background:#ebeef0;
  height:2px;
  margin:9px 0 0 0;}
  
div#comments div.name{
  color:#ee523a;
  float:left;
  font-weight:bold;}
  
div#comments div.time-posted{
  color:#a6b4bb;
  float:left;}
  
div#comments form#add-message{
  float:left;
  margin:20px 0 0 12px;}
  
div#comments form#add-message input{
  -khtml-border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:2px solid #ccd4d8;
  color:#a6b4bb;
  font-size:19px;
  padding:0 10px;
  width:8%;}
  
div#comments img.avatar{ 
  float:left;
  height:48px;
  margin:20px 0 0 0;
  width:48px;}
  
div#comments img.edit-share{
  height:14px;
  margin:7px 0 0 0;
  width:144px;}
  
div#comments img.login{
  float:right;
  height:19px;
  width:83px;}
  
div#copyright{
  color:#666;
  float:left;
  line-height:29px;
  padding:0 0 0 25px;}
  
div#footer{ 
  border-top:10px solid #666;
  margin:25px auto 0 auto;
  padding:21px 20px 10px 20px; 
  max-width:997px;}
  
div#header{
  margin:auto;
  position:relative;
  max-width:997px;
  padding:0 20px;
  background:url(../images/header-background.gif) no-repeat center top;}
  
div.important{ 
  border-top:1px solid #dcdcdc;
  font-family:bentonsanscond-bold;
  font-size:22px;
  line-height:23px;
  margin:25px 0 0 0;
  padding:25px 0 0 0;}
  
div.important span{color:#ff3300;}

div.limited{ 
  font-family:bentonsanscond-medium;
  font-size:13px;
  line-height:16px;
  padding:20px 0;
  text-align:center;}

div.main-content{ 
  float:left;
  width:60%;}
 
div#preload{display:none;}

div.quote{
  border-bottom:1px solid #dcdcdc;
  border-top:1px solid #dcdcdc;
  color:#ff3300;
  font-family:bentonsanscond-bold;
  font-size:22px;
  line-height:27px;
  margin:25px 0 20px 0;
  padding:16px 0 15px 0;}
  
div.quote-2{ 
  border-bottom:1px solid #dcdcdc;
  color:#ff3300;
  font-family:bentonsanscond-bold;
  font-size:22px;
  line-height:27px;
  margin:26px 0 20px 0;
  padding:0 0 25px 0;
  text-align:center;}
  
div.reason{ 
  border-bottom:1px solid #dcdcdc;
  color:#717171;
  font-size:18px;
  line-height:23px;
  padding:0 0 10px 0;}
  
div.results{ 
  background:#f5f9fa;
  padding:16px 18px;}
  
div.results h3{ 
  font-family:bentonsanscond-bold;
  font-size:22px;
  margin:0;
  padding:7px 0 5px 0;}
  
div.sidebar{ 
  float:right;
  margin:0 5% 0 0;
  width:30%;}
   
div.special{ 
  background:#f5f9fa;
  padding:10px 0;}
  
div.steps{ 
  float:left;
  font-family:bentonsanscond-bold;
  font-size:22px;
  font-weight:bold;
  padding:22px 0 0 0;
  width:250px;}
  
div.steps a:link,div.steps a:visited{ 
  font-family:bentonsanscond-bold;
  font-size:14px;
  font-weight:normal;
  line-height:15px;}
  
div.steps a:active,div.steps a:hover{text-decoration:none;}

div.supply{ 
  color:#586e7a;
  font-family:bentonsanscond-bold;
  font-size:16px;
  padding:13px 0 0 0;
  text-align:center;}
  
div.supply span{color:#ff3300;}

div.topics{ 
  border-bottom:1px solid #dcdcdc;
  border-top:10px solid #000;
  line-height:43px;
  margin:84px 0 0 0;}
  
div.topics a{ 
  color:#ee523a;
  font-weight:bold;
  text-decoration:none;}
  
div.warning{
  color:#434343;
  font-family:bentonsanscond-bold;
  padding:22px 12px 0 12px;
  text-align:center;}
  
h1.title{ 
  display:block;
  font-family:bentonsanscond-bold;
  font-size:32px;
  font-weight:normal;
  line-height:38px;
  margin:0;
  padding:11px 0 5px 0;}
  
h1.title span{ 
  color:#ff3300;
  font-weight:bold;
  text-decoration:underline;}
  
h2.exclusive{ 
  background:#586e7a;
  color:#fff;
  display:block;
  font-family:bentonsanscond-bold;
  font-size:22px;
  font-weight:normal;
  line-height:39px;
  margin:25px 0 0 0;
  padding:1px 0 0 9px;}
  
h2.exclusive span{color:#fff568;}

h2.remember{ 
  background:#586e7a;
  color:#fff;
  display:block;
  font-family:bentonsanscond-bold;
  font-size:19px;
  font-weight:normal;
  line-height:39px;
  margin:25px 0 0 0;
  padding:1px 0 0 9px;}
  
h2.remember span{color:#fff568;}

h2.results{ 
  background:#586e7a;
  color:#fff;
  display:block;
  font-family:bentonsanscond-bold;
  font-size:20px;
  font-weight:normal;
  line-height:39px;
  margin:0;
  padding:1px 0 0 0;
  text-align:center;}
  
h2.results span{color:#bac6cb;}

h2.special{ 
  background:#ff3300;
  color:#fff;
  font-family:united-heavy;
  font-size:24px;
  font-weight:normal;
  line-height:35px;
  margin:0;
  padding:3px 0 0 0;
  text-align:center;}
  
h2.special span{color:#fadd17;padding:0 0 0 7px;}
 
img.ad-1{ 
  display:block;
  float:left;
  height:90px;
  width:728px;}

img.ad-2{ 
  display:block;
  float:right;
  height:90px;
  width:257px;}

img.before-after{ 
  border:0;
  display:block;
  margin:25px 0 0 0;}
  
img.before-after-2{ 
  border:0;
  display:block;
  margin:24px 0 0 0;}
  
img.behind-the-scenes{ 
  margin:10px 0 0 0;
  display:block;}
  
img.body-builder{
  border:0;
  display:block;
  height:514px;
  margin:10px 0 0 0;
  width:594px;}
  
img.checkmark{ 
  border:0;
  display:block;
  float:left;
  height:29px;
  margin:10px 0 0 12px;
  width:30px;}
  
img.clinically-proven{
  border:0;
  display:block;
  margin:30px 0;}
  
img.espn{ 
  display:block;
  margin:0 0 12px 0;}
  
img.exclusive-offer{
  border:0;
  display:block;
  height:250px;
  width:300px;}
/*  
img.header-background{
  border:0;
  display:block;
  float:right;
  height:100px;
  position:absolute;
  right:215px;
  top:0px;
  max-width:603px;
  z-index:-1;}*/
  
img.magazine{ 
  border:0;
  display:block;
  margin:auto;}
   
img.mens-health-life{ 
  border:0;
  display:block;
  float:right;
  margin:21px 0 0 0;
  width:360px;}
  
img.mens-health-life-2{
  float:left;
  display:block;}
  
img.related-videos{ 
  float:right;
  margin:17px 0 40px 10px;}
  
img.search{ 
  float:left;
  margin:40px 0 0 0;
  width:200px;}
  
img.social{
  float:right;
  margin:65px 305px 0 0;
  width:92px;}
  
img.social-2{
  margin:15px auto 0 auto;}

img.step-1{ 
  display:block;
  margin:15px auto 0 auto;}
  
img.step-2{ 
  border-bottom:0;
  border-left:0;
  border-right:0;
  border-top:1px solid #dcdcdc;
  display:block;
  margin:25px auto 0 auto;
  padding:25px 0 0 0;}
  
img.watch-this{
  margin:16px 0 0 0;}
  
ol.instructions{ 
  color:#383838;
  font-family:georgia,arial,sans-serif;
  font-size:16px;
  line-height:22px;
  text-align:center;}
  
p{ 
  color:#2d2d2d;
  font-family:georgia,arial,sans-serif;
  font-size:16px;
  line-height:22px;}
  
p.first{margin:0;padding:0;}

ul.nav-1{ 
  border-top:1px solid #bfbfbf;
  display:block;height:35px;
  list-style:none;
  margin:5px 0 0 0;
  overflow-y:hidden;
  padding:0;
  position:relative;}

ul.nav-1 a:link,ul.nav-1 a:visited{
  color:#ff3300;
  font-family:bentonsanscond-bold;
  font-size:24px;
  line-height:35px;
  text-decoration:none;}

ul.nav-1 a:active,ul.nav-1 a:hover{text-decoration:underline;}

ul.nav-1 li{ 
  display:inline-block;
  margin:0 38px 0 0;}

ul.nav-1 li.last{ 
  margin:0;}

ul.nav-2{
  border-top:9px solid #393939;
  display:block;
  height:35px;
  list-style:none;
  margin:0;
  overflow-y:hidden;
  padding:0;
  position:relative;}

ul.nav-2 a:link,ul.nav-2 a:visited{
  color:#666;
  font-family:bentonsanscond-bold;
  font-size:16px;
  line-height:35px;
  text-decoration:none;}

ul.nav-2 a:active,ul.nav-2 a:hover{text-decoration:underline;}

ul.nav-2 li{
  display:inline-block;
  margin:0 30px 0 0;}

ul.nav-2 li.last{
  margin:0;}

ul.nav-3{ 
  border-bottom:1px solid #dcdcdc;
  border-top:1px solid #000;
  display:block;
  height:35px;
  list-style:none;
  margin:0;
  overflow-y:hidden;
  padding:0;
  position:relative;}

ul.nav-3 a:link,ul.nav-3 a:visited{ 
  color:#000;
  font-family:bentonsanscond-bold;
  font-size:12px;
  line-height:35px;
  text-decoration:none;}

ul.nav-3 a:active,ul.nav-3 a:hover{text-decoration:underline;}

ul.nav-3 li{
  display:inline-block;
  margin:0 58px 0 0;}

ul.nav-3 li.last{ 
  margin:0;}

.alter-nav1{
  display:none;
  margin:20px auto;
  width:60%;}
  
.alter-nav1 select{ 
  width:100%; 
  padding:10px;
  border:none;
  font-size:18px;
  border:2px #b5b5b5 solid;}
  
.alter-nav2{ 
  display:none; 
  width:42%;
  margin:10px 0;
  float:left;}  
  
.alter-nav2 select{
  width:100%; 
  padding:10px;
  border:none;
  font-size:15px;
  border:2px #b5b5b5 solid;}
  
.alter-nav3{ 
  display:none; 
  width:42%;
  float:right;
  margin:10px 0;}
  
.alter-nav3 select{
  width:100%; 
  padding:10px;
  border:none;
  font-size:15px;
  border:2px #b5b5b5 solid;}


/* ****************************** Responsive Media Css*********************************** */


@media screen and (max-width:1033px)
{
    ul.nav-1, ul.nav-2, ul.nav-3{ text-align:center; height:auto;}
	ul.nav-1 li{ margin:0 14px;}
	ul.nav-2 li{ margin:0 10px;}
	ul.nav-3 li{ margin:0 15px;}
	ul.nav-1 a:link, ul.nav-1 a:visited{ font-size:19px;}
	ul.nav-2 a:link, ul.nav-2 a:visited{ font-size:15px;}
}

@media screen and (max-width:920px)
{
    div.sidebar{ margin-right:0;}
	div.main-content{ width:65%;}
}

@media screen and (min-width:860px) and (max-width:920px)
{
    ul.nav-2 a:link, ul.nav-2 a:visited{ font-size:14px;}
	ul.nav-2 li{ margin:0 8px;}
	ul.nav-3 li{ margin:0 12px;}
}

@media screen and (max-width:860px)
{
    .alter-nav1, .alter-nav2, .alter-nav3{ display:block;}
	ul.nav-1, ul.nav-2, ul.nav-3{ display:none;}
}

@media screen and (min-width:980px) and (max-width:1024px)
{
   img.social{ margin-right:260px;}
}

@media screen and (min-width:860px) and (max-width:980px)
{
    img.social{ float:left; margin-top:20px;}
	img.search{ margin-top:20px;}
}

@media screen and (min-width:740px) and (max-width:860px)
{
   img.social{ margin-top:25px; margin-right:200px; float:left;}
   img.search{ margin-top:20px;}
}

@media screen and (max-width:740px)
{
    div.main-content{ float:none; width:auto; margin-bottom:25px;}
	div.sidebar{ float:none; width:auto; margin-right:0;}
	img.mens-health-life-2{ float:none; display:inline-block; padding-bottom:10px;}
	div#copyright{ float:none;}
	div#footer{ text-align:center;}
	h1.title{ font-size:28px;}
	div#header{ text-align:center;}
	img.header-background{ float:none; right:auto;}
	img.mens-health-life{ text-align:center; margin-top:0; padding-top:120px; float:none; margin:0px auto;}
	img.social{ margin-right:0; float:none; display:block; margin:0px auto;}
	img.search{ float:none; display:block; margin:20px auto 0 auto;}	
}

@media screen and (max-width:680px)
{
   .alter-nav2, .alter-nav3, img.search{ display:none;} 
}

@media screen and (max-width:620px)
{
    div.column-1, div.column-2, div.column-3, div.column-4{ float:none; width:auto; padding:15px 0;} 
	img.related-videos{ display:none;}
	.alter-nav1{ width:70%;}
	
} 

@media screen and (max-width:580px)
{
    .alter-nav1{ width:100%;}
	.alter-nav2, .alter-nav3{ width:45%;}
	h1.title{ font-size:24px; line-height:34px;}
}

@media screen and (max-width:480px)
{
    .alter-nav2, .alter-nav3{ width:100%;}
	img.social{ margin-top:30px;}
}